* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* HEADER STYLE */

body header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 5rem;
  padding: 0 3rem;
  background-color: rgb(49, 49, 49);
}

body header .logo {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

body header .list ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

body header .list ul li a {
  text-decoration: none;
  color: white;
  transition: 0.1s;
  font-size: 0.85em;
  cursor: pointer;
}

body header .list ul li a:hover {
  color: rgba(255, 255, 255, 0.696);
}

body header .list ul li a.log {
  padding: 0.5rem 1rem;
  background-color: white;
  color: rgb(49, 49, 49);
  transition: 0.2s;
}

body header .list ul li a.log:hover {
  opacity: 80%;
}

body header .list ul li a.reg {
  padding: 0.5rem 1rem;
  background-color: orange;
  color: whitesmoke;
}

body header .list ul li a.reg:hover {
  opacity: 80%;
}

/* HOME PAGE */

body .homePage {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/image/home-page.jpg);
  background-position: center;
  background-size: cover;
}

.homePage .content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.content .mid {
  width: 45%;
  padding: 3rem 0 0 3rem;
}

.content .mid .text h1 {
  font-weight: 800;
  font-size: 4em;
  line-height: 4rem;
  color: whitesmoke;
}

.content .mid .text p.redOne {
  font-size: 2em;
  font-weight: 400;
  color: orange;
  margin: 1.5rem 0 0 0;
  font-style: normal;
}

.content .mid .text p {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 2rem;
  color: whitesmoke;
  font-style: italic;
}

.content .mid .btn {
  display: flex;
}

.content .mid .btn button {
  padding: 0.8rem 1.5rem;
  margin-right: 1rem;
  background-color: orange;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.content .mid .btn button:hover {
  background-color: white;
  color: black;
}

/* ABOUT PAGE */

.aboutPage {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutPage .img {
  width: 45%;
}

.aboutPage .img img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.aboutPage .img .imgInside {
  display: flex;
  justify-content: space-between;
}

.aboutPage .img .imgInside img {
  width: 49.5%;
}

.aboutPage .desc {
  width: 45%;
}

.aboutPage .desc h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.aboutPage .desc hr {
  height: 0.2rem;
  background-color: orange;
  border: none;
  margin: 1rem 0 2rem;
}

.aboutPage .desc p {
  line-height: 2rem;
  margin-bottom: 1rem;
  color: rgb(49, 49, 49);
}

.aboutPage .desc h3 {
  margin-bottom: 2rem;
}

.aboutPage .desc .btnList button {
  padding: 0.8rem 1.5rem;
  margin-right: 1rem;
  background-color: orange;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.aboutPage .desc .btnList button:hover {
  background-color: rgb(49, 49, 49);
  color: white;
}

/* SERVICES PAGE */

body .servicePage {
  width: 100%;
  height: 100vh;
  padding: 6rem 3rem;
  background-color: rgb(220, 219, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.servicePage h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

.servicePage hr {
  width: 100%;
  height: 0.2rem;
  background-color: orange;
  border: none;
  margin: 1rem 0;
}

.servicePage .top p {
  color: rgb(49, 49, 49);
  margin-bottom: 1.2rem;
}

.servicePage .bot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.servicePage .bot .box1 {
  width: 33%;
  height: 100%;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(19, 60, 16);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.servicePage .bot .box1 h3 {
  font-size: 1.5rem;
}

.servicePage .bot .box1 p {
  margin: 1rem 0;
  line-height: 1.8rem;
  font-weight: 300;
}

.servicePage .bot .box1 p.bold {
  font-weight: 400;
}

.servicePage .bot .boxList {
  display: flex;
  width: 63%;
  flex-wrap: wrap;
}

.servicePage .bot .box {
  width: 33%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.servicePage .bot .box p {
  color: white;
  padding: 0.5rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
  opacity: 80%;
  background-color: rgb(49, 49, 49);
}

.servicePage .bot .box3 p {
  background-color: white;
  color: rgb(49, 49, 49);
}

.servicePage .bot .box5 p {
  background-color: white;
  color: rgb(49, 49, 49);
}

.servicePage .bot .box7 p {
  background-color: white;
  color: rgb(49, 49, 49);
}

.servicePage .bot .box2 {
  background: url(./assets/image/service1.jpg);
  background-position: center;
  background-size: cover;
}

.servicePage .bot .box3 {
  background: url(./assets/image/service2.jpg);
  background-position: center;
  background-size: cover;
}

.servicePage .bot .box4 {
  background: url(./assets/image/service3.jpg);
  background-position: center;
  background-size: cover;
}

.servicePage .bot .box5 {
  background: url(./assets/image/service4.jpg);
  background-position: center;
  background-size: cover;
}

.servicePage .bot .box6 {
  background: url(./assets/image/service5.jpg);
  background-position: center;
  background-size: cover;
}

.servicePage .bot .box7 {
  background: url(./assets/image/service6.jpg);
  background-position: center;
  background-size: cover;
}

/* PROCESS PAGE */

body .processPage {
  width: 100%;
  height: 100vh;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .processPage .left {
  width: 50%;
  padding: 0 6em 0 0;
}

.processPage .left h2 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 1rem;
}

.processPage .left p {
  color: rgb(49, 49, 49);
  margin-bottom: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
}

.processPage .left hr {
  width: 100%;
  height: 0.2rem;
  background-color: orange;
  border: none;
  margin: 1rem 0;
}

.processPage .left .process ul li {
  list-style: none;
  font-size: 1.2em;
  margin: 1.5rem 0;
  background-color: rgb(49, 49, 49);
  padding: 0.8rem 1rem;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-weight: 300;
}

body .processPage .right {
  width: 50%;
  height: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/image/process.jpg);
  background-position: center;
  background-size: cover;
  padding: 3rem;
  color: white;
}

body .processPage .right h2 {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

body .processPage .right p {
  margin: 1.5rem 0;
  font-weight: 300;
}

.processPage .right .rate ul li {
  list-style: none;
  font-size: 1.2em;
  margin: 1.5rem 0;
  background-color: whitesmoke;
  padding: 0.8rem 1rem;
  color: rgb(49, 49, 49);
  border-radius: 8px;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}

/* body .processPage .right .line {
  width: 1rem;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
} */

/* FOOTER PAGE */

body .footer {
  width: 100%;
  height: 50vh;
  background-color: whitesmoke;
}

.footer .top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.footer .top .logo h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(49, 49, 49);
  font-family: sans-serif;
}

.footer .top .list a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: rgb(49, 49, 49);
  font-weight: 300;
  font-size: 0.8rem;
}

.footer .bot {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .bot h3 {
  color: rgb(49, 49, 49);
  font-weight: 400;
}

.footer .bot p {
  color: rgb(49, 49, 49);
  font-size: 0.8rem;
}

body .footer a {
  margin: 0 1rem;
}

body .footer img {
  width: 1rem;
  margin: 1rem 0;
}

/* BOOK PAGE */

body .bookContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10rem 3rem 5rem 3rem;
}

.bookContainer .left {
  width: 35%;
  padding: 0 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/image/bookleft.jpg);
  background-position: center;
  background-size: cover;
  text-align: right;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookContainer .left h2 {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 2rem;
}

.bookContainer .left p {
  font-weight: 300;
}

.bookContainer .right {
  width: 60%;
  height: 100%;
}

.bookContainer .right form {
  display: flex;
  width: 100%;
  padding: 0 5rem 0 0;
  flex-direction: column;
}

.bookContainer .right form .name input {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
}

.bookContainer .right form .phoneandemail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.bookContainer .right form .phoneandemail div {
  width: 48%;
}

.bookContainer .right form .phoneandemail input {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
}

.bookContainer .right form .brand {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bookContainer .right form .brand select {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
}

.bookContainer .right form .modelandnumber {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookContainer .right form .modelandnumber div {
  width: 48%;
}

.bookContainer .right form .modelandnumber input {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
}

.bookContainer .right form .services {
  margin: 0.5rem 0;
}

.bookContainer .right form .comment {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bookContainer .right form .comment textarea {
  height: 6rem;
  padding: 0.5rem;
}

.bookContainer .right form .dateandtime {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookContainer .right form .dateandtime div {
  width: 48%;
}

.bookContainer .right form .dateandtime input {
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem;
}

.bookContainer .right form .button {
  width: 100%;
  text-align: center;
  margin: 1rem 0 0 0;
}

.bookContainer .right form .button button {
  width: 30%;
  height: 2.5rem;
}

.bookContainer .right h3 {
  font-size: 2em;
  font-weight: 300;
}

.bookContainer .right form label {
  font-weight: 300;
  font-size: 0.9em;
}

.bookContainer .right form .services div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bookContainer .right form .services input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.2rem 0.2rem 0.2rem 0;
  accent-color: rgb(49, 49, 49);
}

.bookContainer .right form .services label.exp {
  font-size: 0.7em;
}

.bookContainer .right form .services p {
  background-color: rgb(49, 49, 49);
  padding: 0.5rem;
  color: white;
  font-size: 0.8rem;
}

.bookContainer .right form button {
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.bookContainer .right form button:hover {
  background-color: rgb(49, 49, 49);
  color: white;
}

/* REGISTER AND LOGIN PAGE */

body .register,
body .login {
  width: 100%;
  height: 100vh;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register .container,
.login .container {
  width: 25%;
  border: 1px solid white;
  border-radius: 8px;
  padding: 2rem 2rem;
  color: white;
}

.register .container h2,
.login .container h2 {
  margin: 1rem 0;
  font-size: 1.8em;
  font-weight: 500;
}

.register .container p,
.login .container p {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 1rem;
  color: rgb(220, 220, 220);
}

.register .container form div,
.login .container form div {
  display: flex;
  flex-direction: column;
}

.register .container form label,
.login .container form label {
  font-size: 0.9em;
  font-weight: 300;
  color: rgb(220, 220, 220);
}

.register .container form input,
.login .container form input {
  height: 2.3rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.register .container form .button {
  display: flex;
  align-items: center;
}

.login .container form .button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.register .container form button,
.login .container form button {
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  height: 2rem;
  width: 45%;
  margin: 1rem 0;
}

.register .container form button:hover,
.login .container form button:hover {
  background-color: white;
  color: rgb(24, 24, 24);
}

.register .container p.alre,
.login .container p.donthave {
  margin: 0;
  text-align: center;
}

.register .container a,
.login .container a {
  color: rgb(105, 105, 105);
  transition: 0.2s;
  font-weight: 300;
  cursor: pointer;
}

.register .container a:hover,
.login .container a:hover {
  color: rgb(220, 220, 220);
}
